//TEMPLATE PARA CREAR EL PROFILE DEL USUARIO

div(class='container')
	div(class='row')
	div(class='col-md-5  toppad  pull-right col-md-offset-3')
		a(id='edit') Edit Profile
		p(class='text-info')
div(class='DivProfile col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad')
	div(class='panel panel-info')
		div(class='panel-heading')
			h3(class='panel-title') Usuario
		div(class='panel-body')
			div(class='row')
				div(class='col-md-3 col-lg-3 centerDiv', align='center')
					img(id='imgProfile', alt='User Pic', src='images/photo.jpg', class='img-circle')
					div(class='browse-wrap', disabed='false')
						input(type='file', name='upload', class='upload', title='file')
						div(class='title') subir Imagen	
				div(class='col-md-9 col-lg-9')
					table(id='table1', class='table table-user-information')
						tbody
							tr
								td
									label Name :
								td
									input(type='text',id='name', disabled='false')
							tr
								td 
									label apellido :
								td
									input(type='text', id='lastName', disabled='false')
							tr 
								td 
									label direccion :
								td
									input(type='text', id='address', disabled='false')
							tr
								td 
									label localidad :
								td 
									input(type='text', id='location', disabled='false')
							tr
								td 
									label telefono :
								td 
									input(type='text', id='phone', disabled='false')
							tr
								td 
									label celular :
								td 
									input(type='text', id='mobile', disabled='false')
							tr
		div(class='panel-footer')
			a(data-original-title='Broadcast Message', data-toggle='tooltip' type='button', id='btnG', class='btn btn-sm btn-primary') Guardar cambios

