//TEMPLATE LAYOUT login DESDE AQUI SE REALIZA EL LOGUEO

extends layout

block extraHeader
	link(href='stylesheets/plugins/social-buttons.css', rel='stylesheet')
	link(href='font-awesome-4.1.0/css/font-awesome.min.css', rel='stylesheet')
	link(href='stylesheets/login.css', rel='stylesheet')
block scripts
	script(src='javascripts/scriptsTemplates/loginScript.js')

block nav
	ul(class='nav navbar-top-links navbar-right')
		li
			a(class='btn btn-primary', href='/') Volver

block content
	.container
		div(class='col-md-8 LogueoSocial')
			.panel.panel-default
				.panel-heading
					h5 Logueo Social
				div(class='panel-body extra')
					div(class='contentButtons')
						a(class='btn btn-block btn-social btn-facebook') Inicie Seccion con Facebook
							i(class='fa fa-facebook')
						a(class='btn btn-block btn-social btn-twitter') Inicie Seccion con Twitter
							i(class='fa fa-twitter')
						a(class='btn btn-block btn-social btn-google-plus') Inicie Seccion con G+
							i(class='fa fa-google-plus')
		.col-md-4
			.panel.panel-default
				.panel-heading
					h5 Logueo
				.panel-body
					div
						div(class='form-group')
							label Nombre de Usuario
							input(type='text', id='usrname', class='form-control', name='nomUsr', placeholder='Ingrese nombre')
							p(class='help-block') Example block-level help text here.
						div(class='form-group')
							label Password
							input(type='text', id='password' class='form-control', name='pass', placeholder='Ingrese password')
							p(class='help-block') Example block-level help text here.
						div(class='form-group')
							input(type='button',id='btnL' class='btn btn-success', text='Enviar', value='Ingrese')

					//form(id="form1", method="post", action="/users/login", enctype='application/x-www-form-urlencoded')
						div(class='form-group')
							label Nombre de Usuario
							input(type='text', id='nomUsr', class='form-control', name='nomUsr', placeholder='Ingrese nombre')
							p(class='help-block') Example block-level help text here.
						div(class='form-group')
							label Password
							input(type='text', id='pass' class='form-control', name='pass', placeholder='Ingrese password')
							p(class='help-block') Example block-level help text here.
						div(class='form-group')
							input(type='submit', class='btn btn-success', text='Enviar', value='Ingrese')//


			