//TEMPLATE PARA REALIZAR EL ALTA DE PUBLICACIONES

div(class='row')
	div(class='col-lg-12')
		div(class='panel panel-default')
			div(class='panel-heading') Nueva Publicacion
			div(class='panel-body')
				div(class='row')
					form(role='form')
						label Cargar Imagenes
						div(class='form-inline')
							img(id='img1', alt='no cargo', src='images/photo.jpg')
							img(id='img2', alt='no cargo', src='images/photo.jpg')
							img(id='img3', alt='no cargo', src='images/photo.jpg')
						div(class='form-group')
							input(type='file', name='upload', class='upload', title='file', multiple)

